.jumbotron{
    height: 500px;
    width: 335px;
    margin-top: 90px;
    background-color: #e9ebea;

}

.container {
    margin-top: 50px;
    width: 365px;
    height: 700px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
}

form {
    background-color:#e9ebea;
    height: 440px;
    width: 335px;
    position: absolute;

 

}

.logo {
	height: 80px;
	width: 200px;
	margin:auto;
	background-image: url(../img/Djoro.jpg);
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-bottom: 50px;
}


#ssid {
	background-color: #fff;
	margin:auto;
	width: 250px;
	height: 42px;
	font-size: 17px;
	color: black;
	margin-bottom: 20px;
	
}

#password {
	background-color: #fff;
	margin:auto;
	width: 250px;
	height: 42px;
	font-size: 17px;
	margin-bottom: 30px;
}

label {
	color:#ff6030;
	font-size: 15px;
	font-weight: bold;
	margin-left: 13%;

}

button {
	width: 150px;
	height: 45px;
}

.envoyer {
	margin:auto;
	width: 175px;
}

.alert-danger {
	height: 60px;
	font-size: 18px;
	padding-top: 15px;
}

.containtErreur {
	background-color: #e9ebea;
	height: 60px;

}

header {
	text-align: center;
	padding-top: 20px;
	font-size: 40px;
	font-weight: bold;
	color: orange;

}

footer a{
	margin-top: 180px;
	float: right;
	margin-right: 15px;
	color: orange;
	font-size: 18px;
}

.connexion  {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.routerAnimation {
	margin:auto;
	width: 140px;
	height: 100px;
	margin-top: 80px;
	background-image: url(../img/routeur.gif);
	background-repeat: no-repeat;
}